@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"  readonly="readonly"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"  />
                    <#dictSelector id="sex" name ="sex" code="sys_sex"  label="性别"  underline="true"  value="" />
                            <#input id="birthday" name="出生年月" value="${item.birthday}" underline="true"  />
                            <#input id="phonenum" name="电话号码" value="${item.phonenum}" underline="true"  />
                            <#input id="email" name="Email" value="${item.email}" underline="true"  />
                            <#input id="schoolname" name="学校名称" value="${item.schoolname}" underline="true" />
                            <#input id="time" name="入学时间到毕业时间" value="${item.time}" underline="true" />
                            <#input id="education" name="学历" value="${item.education}" />
                </div>

                <div class="col-sm-6">
                			<#input id="major" name="专业" value="${item.major}" underline="true"  />
                            <#input id="experience" name="工作经验" value="${item.experience}" underline="true"  style="height:200px" />
                            <#input id="jobintension" name="求职意向" value="${item.jobintension}" underline="true" />
                    <#dictSelector id="jobtype" name ="jobtype" code="job_type"  label="求职类型"  underline="true"  value="${item.jobtype}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ResumeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ResumeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/resume/resume_info.js"></script>
@}
